[package]
name = "validations"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib"]

[dependencies]
wasm-bindgen = "0.2"
serde = { version = "1.0", features = ["derive"] }
serde-wasm-bindgen = "0.4"
js-sys = "0.3"
regex = "1"
uuid = { version = "1", features = ["v4", "js", "macro-diagnostics"] }

[profile.release]
opt-level = "z"
lto = true
codegen-units = 1
panic = "abort"
